/*Variabler*/
$bg-color: #F4F1ED;
$box-color: #fff;
$forside-color: #8AC567;
$soge-color: #F2B90C;
$treaning-color: #F207B4;
$pleje-color:#0ABFBF;
$tips-color:#9C5AEE;
$ur-color: #F27507;
$font-color: black;
$header-font: "Exo 2", sans-serif;
$header2-font: "montserrat", sans-serif;
$font: "Hind Guntur", sans-serif; 



/*mixins*/