@charset "UTF-8";
/*Variabler*/
/*mixins*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 36px;
}

h2 {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

h3 {
  font-family: "montserrat", sans-serif;
  font-weight: 600;
  font-size: 24px;
}

h4 {
  font-family: "Exo 2", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

p {
  font-family: "Hind Guntur", sans-serif;
  font-weight: 200;
  font-size: 16px;
}

.btn {
  background-color: #8AC567;
  color: black;
  font-weight: 600;
  width: 190px;
  height: 55px;
  border-radius: 15px;
  border: 1px solid black;
  font-family: "Hind Guntur", sans-serif;
  text-decoration: none;
  box-shadow: 1px 7px 12px 0px rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
.btn:hover {
  background-image: url(../img/hover.png);
}

/**********Hero-område**********/
.hero-section {
  margin: 0;
  padding: 0;
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-section img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  z-index: 1;
  opacity: 30%;
}
.hero-section h1 {
  position: absolute;
  z-index: 2;
}

/***Brødkrumme***/
.brødkrumme {
  display: flex;
  gap: 4px;
  list-style-type: none;
  font-size: 12px;
}
.brødkrumme li a {
  text-decoration: none;
  font-family: "Hind Guntur", sans-serif;
  color: black;
}
.brødkrumme li a:hover {
  font-weight: 600;
}

/*maskot image*/
.maskot-img {
  width: 125px;
}

.center {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0;
}

/*Forside*/
.margin {
  margin: 0 20px;
}

main {
  /*Knapper af overskrift + billede*/
}
main h1 {
  display: flex;
  justify-content: center;
  margin: 15px 0;
}
main .primary-img {
  width: 95%;
  margin: 20px auto;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .spaceup {
  padding-top: 20px;
}
main .spacedown {
  padding-bottom: 20px;
}
main ol {
  padding-left: 25px;
}
main ol li {
  font-family: "Hind Guntur", sans-serif;
  font-weight: 200;
  padding-top: 10px;
}
main h2 {
  display: flex;
  justify-content: center;
  padding-bottom: 25px;
}
main .box-section {
  display: flex;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .box-btn {
  width: 300px;
  height: 113px;
  margin: 0 15px;
  border: black solid 1px;
  background-color: #fff;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .box-btn:hover {
  background-image: url(../img/hover.png);
}
main .box-btn .text-align {
  width: 150px;
  height: 113px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
main .box-btn a {
  text-decoration: none;
  color: black;
}
main .box-btn img {
  width: 150px;
  height: 113px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
main .tiltop {
  float: right;
  margin: 15px 0;
}
main .tiltop img {
  width: 30px;
  height: 15px;
}

/***om os***/
main.om-os h2 {
  padding-top: 15px;
  text-align: left;
}
main.om-os p {
  margin: 0 15px;
}
main.om-os ul {
  margin: 0 15px 0 35px;
  font-family: "Hind Guntur", sans-serif;
}

/***Kontakt***/
main.kontakt h2, main.kontakt p {
  margin-left: 15px;
}
main.kontakt h2 {
  padding-top: 15px;
  display: flex;
  justify-content: left;
}/*# sourceMappingURL=style.css.map */