@use "partial";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-family: partial.$header-font;
    font-weight: 600;
    font-size: 36px;
}

h2{
    font-family: partial.$header2-font;
    font-weight: 600;
    font-size: 24px;
}

h3{
    font-family: partial.$header2-font;
    font-weight: 600;
    font-size: 24px;
}

h4{
    font-family: partial.$header-font;
    font-weight: 800;
    font-size: 20px;
}

p{
    font-family: partial.$font;
    font-weight: 200;
    font-size: 16px;
}

.btn{
    @include partial.btn;
    @include partial.flex;
    margin: 20px auto;
    
        &:hover{
            background-image: url(../img/hover.png);
        }
}

/**Hero-område**/
.hero-section{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            z-index: 1;
            opacity: 30%;
        }

        h1{
            position: absolute;
            z-index: 2;
        }
}

/***Brødkrumme***/
.brødkrumme{
    display: flex;
    gap: 4px;
    list-style-type: none;
    font-size: 12px;

        li a{
            text-decoration: none;
            font-family: partial.$font;
            color: partial.$font-color;

                &:hover{
                    font-weight: 600;
                }
        }
}

/*maskot image*/
.maskot-img{
    width: 125px;
}

.center{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

/******Forside*******/
.margin{
    margin: 0 20px;
}

main{

        .hero-forside-desktop{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 50vh;
            overflow: hidden;
            position: relative;

                video{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    min-width: 100%;
                    min-height: 100%;
                    width: auto;
                    height: auto;
                    z-index: 0;
                    transform: translate(-50%, -50%);
                    opacity: 50%;
                }

                .hero-content{
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    z-index: 1;

                        h1{
                            margin-bottom: 20px;
                        }

                        p{
                            margin-bottom: 20px;
                            max-width: 700px;
                            text-align: center;
                            font-weight: 500;
                        }
                }
        }
    
        .primary-img{
            width: 95%;
            margin: 20px auto;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid partial.$font-color;
        }

        .spaceup{
            padding-top: 20px;
        }

        .spacedown{
            padding-bottom: 20px;
        }

        .spaceleft{
            padding-left: 15px;
        }

        ol{
            padding-left: 25px;
        
                li{
                    font-family: partial.$font;
                    font-weight: 200;
                    padding-top: 10px;
                }
        }
        
        h2{
        display: flex;
        justify-content: center;
        padding-bottom: 25px;
        }

        /*Knapper af overskrift + billede*/
        .box-section{
            display: flex;
            flex-wrap: wrap;
            @include partial.flex;
        }

        .box-btn{
            width: 300px;
            height: 113px;
            margin: 0 15px;
            border: partial.$font-color solid 1px;
            background-color: partial.$box-color;
            margin-bottom: 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            &:hover{
                background-image: url(../img/hover.png);
            }

            .text-align{
                width: 150px;
                height: 113px;
                display: flex;
                text-align: center;
                justify-content: center;
                align-items: center;
                margin-top: 15px;
            }

            a{
                text-decoration: none;
                color: partial.$font-color;
                
            }

            img{
                width: 150px;
                height: 113px;
                border-top: 1px solid partial.$font-color;
                border-bottom: 1px solid partial.$font-color;
            }
        }

        .tiltop{
            float: right;
            margin: 15px 0;

            img{
            width: 30px;
            height: 15px;
            }
        }
}


/***om os***/

main.om-os{

    h2{
        padding-top: 15px;
        text-align: left;
    }

    p{
        margin: 0 15px;
    }

    
    ul{
        margin-left:35px;
        font-family: partial.$font;
    }
    
    .brødkrumme{
        margin: 0;
    }
}

/***Kontakt***/

main.kontakt{

    h2, p{
        margin-left: 15px;
    }

    h2{
        padding-top: 15px;
        display: flex;
        justify-content: left;
    }

    a{
        text-decoration: none;
        color: partial.$font-color;

            &:hover{
                font-weight: 600;
            }
    }
}

/***Tips***/
main.tips{

    h2{
        padding-top: 15px;
        margin: 0 15px;
        text-align: center;
    }

    p, ol{
        margin:  0 15px;
    }

    /**Dropdown menu**/
    .dropdown {
        position: relative;
        display: inline-block;
        margin: 15px;
        width: 95%;

        .dropbtn{
            width: 95%;
            max-width: 410px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            box-shadow: 1px 7px 12px 0px rgba(0, 0, 0, 0.25);
            font-family: partial.$font;
            border-radius: 15px;
            border: 1px solid partial.$font-color;
            padding: 5px 15px 5px 15px;
            background-color: partial.$forside-color;
            font-weight: 500;
        }

        img{
            width: 20px;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: partial.$box-color;
            min-width: 120px;
            box-shadow: 1px 7px 12px 0px rgba(0, 0, 0, 0.25);
            z-index: 1;
            border-radius: 15px;

                a{
                    color: partial.$font-color;
                    font-family: partial.$font;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                    font-weight: 600;

                        &:hover{
                            background-image: url(../img/hover.png);
                            border-radius: 15px;
                        }
                }
        }
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }

}

/***Træning - sundhed & ernæring - pleje***/

main.ovrige{

    p{
        margin: 0 15px;
    }
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 15px
}

.cta-box{
    @include partial.cta-box;
    margin-top: 90px;

        img{
            width: 250px;
            height: 170px;
            margin: auto;
            border-radius: 15px;
            display: block;
            overflow: hidden;
            transform: translateY(-35%);
            box-shadow: 1px 7px 12px 0px rgba(0, 0, 0, 0.25);
        }

        .maskot{
            box-shadow: none;
            width: auto;
        }

        h2{
            text-align: center;
        }

        ul{
            margin: 0 10px 0 30px;
            font-family: partial.$font;
            line-height: 1.5;
        }

        a{
            text-align: center;
            
        }

        .luft1{
            margin-top: 92px;
        }

        .luft2{
            margin-top: 43px;
        }

        .luft3{
            margin-top: 50px;
        }

        .luft4, .luft6{
            margin-top: 77px;
        }

        .luft5{
            margin-top: 110px;
        }

    }



    /*************----Desktop---************/
    
    @media screen and (min-width: 800px){

        h1{
            font-family: "Exo 2", sans-serif;
            font-weight: 600;
            font-size: 90px;
        }
    
        p{
            font-family: "Hind Guntur", sans-serif;
            font-weight: 200;
            font-size: 20px;
        }
      
    /*hero-sektion (-forsiden)*/
    .hero-section{
        height: 55vh;
    
            img{
                object-position: center;
                
            }
    }
    
    /*forsiden*/

        .margin{
            margin: 0 150px;
        }


       .primary-img{
        max-width: 1250px;
       } 

       .cta-box{
        @include partial.cta-box;
        margin-top: 90px;
        height: 750px;
    
            img{
                width: 250px;
                height: 170px;
                margin: auto;
                border-radius: 15px;
                display: block;
                overflow: hidden;
                transform: translateY(-35%);
                box-shadow: 1px 7px 12px 0px rgba(0, 0, 0, 0.25);
            }
    
            .luft1{
                margin-top: 130px;
            }

            .luft2{
                margin-top: 70px;
            }

            .luft3{
                margin-top: 90px;
            }
    
            .luft4{
                margin-top: 122px;
            }
    
            .luft5{
                margin-top: 150px;
            }

            .luft6{
                margin-top: 50px;
            }

            .luft7{
                margin-top: 70px;
            }

            .luft8{
                margin-top: 40px;
            }

            .luft9{
                margin-top: 127px;
            }

            .luft10{
                margin-top: 188px;
            }

            .luft11{
                margin-top: 100px;
            }
    
        }

        li{
            font-size: 20px;
        }

        .dropdown {    
            .dropbtn{
                font-weight: 700;
                font-size: 20px;
            }
    
            .dropdown-content {
    
                    a{
                       font-size: 20px;
                    }
            }
        }

        
    }